<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/contactLayout.css" />
    <link rel="stylesheet" href="/css/mediaqueries.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="icon" href="/img/logo-sqaure.jpg" />
    <script src="/js/guestbookScript.js" defer></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/stylesheet.css" />
    <link
      rel="stylesheet"
      href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css"
    />

    <title>Email Me!</title>
  </head>
  <body>
    <!-- Nav Bar Partials -->
    <%- include('../partials/header') %>

    <div id="contact">
      <div class="admin-container">
        <h1>Contact Me!</h1>
        <div id="center">
          <h2>Admin Page</h2>
          <br />

          <table id="contact-table">
            <thead>
              <tr class="headStyle">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Met From</th>
                <th>Message</th>
                <th>Format</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% contacts.forEach(contact => { %>
              <tr>
                <td><%= contact.fname %></td>
                <td><%= contact.lname %></td>
                <td><%= contact.email %></td>
                <td><%= contact.met %></td>
                <td><%= contact.message %></td>
                <td><%= contact.format %></td>
                <td><%= contact.timestamp %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <footer>
      <a href="https://github.com/KevinSandoval12/portfolio-2"
        >--->GitHub Repo: https://github.com/KevinSandoval12/portfolio-2<---</a
      >
    </footer>
  </body>
  <script defer>
    let table = new DataTable("#contact-table");
  </script>
</html>
